.element__heart {
  border: none;
  background-color: rgba(0,0,0,0);
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 20px 0 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.element__heart:hover {
  opacity: 0.5;
}


