.popup__button-close {
  background-image: url(../../../images/popup-close-button.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.3s;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
