.page__header {
  margin: 0 auto;
  padding: 45px 0 41px;
  max-width: 880px;
  display: flex;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .page__header {
    max-width: 100vw;
    padding: 28px 0 31px;
  }
}
